h1{
    text-align: center;
}
h2{
    text-align: center;
}

#comuniquemonos {
    background-color: #070707;
    background-position: center;
    text-align: center;
    color: white;
}

#reserva {
    background-color:blue;
    text-align: center;
    color: white;
}

#bloque3{
    background-color: blueviolet;
    align-content:center;
    display: ;
    left: 100%;

}
#bloque2{
    position:;

}
#bloque1{
    position:;

}